#boundry{
	height: 500px;
	width: 500px;
	background-color: #e2e0e0;
	margin: auto;
	margin-top: 50px;
	padding: 0px 20px;
	box-sizing: border-box;
}

h1{
	position: relative;
	top: 30px;
	text-align: center;
	background-color: black;
	color: white;
}

#displaycontainer{
	box-sizing: border-box;
	position: relative;
	top: 30px;
	height: 90px;
	margin: auto;
	background-color: #f5f5f5;
}

#display{
	overflow-x: scroll;
	max-height: 50px;
	max-width: 460px;
	position: absolute;
	right: 0;
	bottom: 0;
}

#hist{
	overflow-x: scroll;
	max-height: 50px;
	max-width: 460px;
	position: absolute;
	right: 0;
}

::-webkit-scrollbar {
    display: none;
}

#buttoncontainer{
	position: relative;
	top: 50px;
}

.row{
	margin-bottom: 5px; 
}

.but-col{
	background-color: #c14444;
	color: white;
}

button{height: 50px;
	width: 112px;
	font-weight: bolder;
	font-size: 20px;
	cursor: pointer; 
}

